* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.container{
    width: min(1100px,92%);
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1 fr));
    gap: 1.5rem;
}

.project-card{
    
    line-height: 1.5rem;
    position: relative;
    width: 450px;
    padding: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
    box-shadow: inset 2px 2px 5px #888
    
}
h3{
    text-decoration: 1px underline;
}
p{
    margin: 0.5em auto;
    color: grey;
}