* {
margin: 0;
padding: 0;
box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{
    background-color: rgb(249, 249, 249);
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 10000;
}

.nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}
.nav .logo{
  font-size: 1.8rem;
  font-weight: bold;
 color: #589858;

}
.nav .menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav .menu li a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-weight: 500;
}
.nav .menu li a:hover {
  color: rgb(46, 204, 113);
}
/* HERO SECTION */
.hero{
  display: flex;
  align-items: center;/* center vertical */
  justify-content: center;/* center horizontal */
  text-align: center;
  padding: 8rem 2rem;
  background: linear-gradient(135deg, rgb(97, 156, 121), rgb(39, 174, 96));
  color: #fff;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.2);
}
.hero h1 {
 color: rgb(251, 255, 228);
 text-shadow: 0px 0px 5px rgb(207, 207, 207);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero h1 span {
    color: #fff;
  font-weight: 600;
  font-size: 3.5rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.hero-buttons .btn,
.hero-buttons .btn-line {
  padding: 0.8rem 2rem;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
}
.hero-buttons .btn {
  background-color: #fff;
  color: #2ecc71;
}


.hero-buttons .btn:hover {
  background-color: rgb(194, 242, 208);
}


.hero-buttons .btn-line {
    background-color: #fff;
  color: rgb(46, 204, 112);
}


.hero-buttons .btn-line:hover {
    background-color: rgb(194, 242, 208);
}
/* ABOUT */
.about {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}
.about h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: rgb(46, 204, 113);
}
.about-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  border: 2px solid rgb(46, 204, 113);
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}
.about-card img{
    width: 200px;
    height: 200px;
    object-fit: cover; 
    object-position: center; 
  border-radius: 50%;
}
.about-card div p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
/* PROJECT */
.project {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}


.project h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #2ecc71;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
.project-card {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


.project-card h3 {
  color: rgb(51, 150, 93);
  margin-bottom: 1rem;
}


.project-card p {
    color: grey;
  margin-bottom: 1rem;
}
.project-card a{
    padding: 0.4rem 1rem;
    font-weight: 600;
    text-decoration: none;
}
.project-card a:hover{
    text-decoration: none;
    border-radius: 5rem;
    
    background-color: rgb(217, 217, 217);
}

.project .btn-line {
  margin-top: 2rem;
    padding: 0.8rem 2rem;
  border: 2px solid rgb(46, 204, 113);
  color: rgb(46, 204, 113);
  font-weight: 600;
   border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;

}
.proj-btn{
  grid-column: span 3;
}
/*  CONTACT */
.contact {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
 
}

.contact h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #2ecc71;

}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.contact-form input,
.contact-form textarea {
  margin: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  border: 2px solid rgb(156, 211, 180);
  outline: none;
  font-size: 1rem;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #265f1d;
}
.contact-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.contact-info a {
  color: rgb(90, 60, 161);
}
.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  padding: 1rem;
  text-decoration: none;
  color: rgb(90, 60, 161);
  background-color: rgb(217, 217, 217);
  border-radius: 3rem;
}

.social-icons a:hover{
  background-color: darkgray;
}
/* FOOTER */
footer {
  text-align: center;
  padding: 2rem;
  background-color: #515151;
  box-shadow: inset 0 -5px 15px rgb(59, 59, 59);
  margin-top: 5rem;
}


footer p {
  font-size: 1rem;
  color: #d5d5d5;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* NAVBAR */
  .nav {
    flex-direction: column;
    gap: 1rem;
  }
  .nav .menu {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  /* HERO */
  .hero {
    padding: 5rem 1rem;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero h1 span {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .hero-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  /* ABOUT */
  .about-card {
    flex-direction: column;
    align-items: center;
  }

  /* PROJECT */
  @media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr !important; 
    gap: 1rem;
  }

  /* CONTACT */
  .contact-bottom {
    flex-direction: column;
    gap: 1rem;
  }
  .social-icons {
    justify-content: center;
  }
}
}